# Core packages
pandas
numpy
seaborn
matplotlib
scikit-learn

# ML/Boosting libraries
xgboost
catboost

# Utilities
setuptools
colorlog
dill

# Web framework
flask
flask-wtf

# Install your project in editable mode
-e .
